/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: "avantgarde";
    src: url('../fonts/AVGARDN_2.TTF');
}

@font-face {
    font-family: "avantgardebold";
    src: url('../fonts/AVGARDD_2.TTF');
}

@font-face {
    font-family: "robotoslab";
    src: url('../fonts/RobotoSlab-Regular.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/* HEADER */

header {
    background-color: #FF8000;
    color: white;
}

/* tijd om eten te bestellen */

h1 {
    font-family: avantgardebold;
    font-size: 36px;
    padding: 0 16px 16px 16px;
    text-align: center;
}

/* vind restaurants bij jou in de buurt */

h2 {
    font-family: avantgardebold;
    font-size: 18px;
    text-align: center;
}

/* navigatie thuisbezorgd*/

nav {
    padding: 16px;
}

nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* logo thuisbezorgd header */

nav ul li img {
    height: 48px;
    width: 162px;
}

/* hamburger menu*/

.hamburger {
    padding: 1em;
    padding-top: 10;
    padding-right: 0;
}

.hamburger div div {
    width: 4em;
    height: 4em;
    padding: 1em;
}

.hamburger span {
    display: block;
    position: relative;
}

.hamburger span,
.hamburger span::before,
.hamburger span::after {
    width: 1.5em;
    height: 3px;
    background: white;
    transition: transform 400ms ease-in-out;
}

.hamburger span::before,
.hamburger span::after {
    content: '';
    position: absolute;
}

.hamburger span::before {
    bottom: 6px;
}

.hamburger span::after {
    top: 6px;
}

.hamburger span.active::before {
    opacity: 0;
}

.hamburger span.active {
    transform: rotate(45deg);
}

.hamburger span.active::after {
    transform: rotate(90deg) translate(-6px);
}

.inloggen {
    width: 175px;
    height: 40px;
    font-family: 'avantgardebold';
    background-color: white;
    color: #1574F5;
    margin-right: 10px;
    border: 1px solid lightgray;
}

.account {
    height: 40px;
    width: 175px;
    font-family: 'avantgardebold';
    margin-left: 10px;
    background-color: #1574F5;
    color: white;
    border: 0px;
}

.hamburgerul {
    text-align: center;
    position: fixed;
    transition: .4s;
    height: 100vh;
    width: 103vw;
    transform: translateY(-200%);
    background: white;
    padding-top: 30px;
    z-index: 1000;
    background-color: white;
    color: black;
    font-family: "avantgardebold";
    display: flex;
    flex-flow: column;
}

.hamburgerul li {
    margin: 10px 0;
    font-family: "avantgardebold";
    font-size:
        color: #0A3847;
}

.hamburgerul li form {
    padding: 0px;
}

.animator {
    transform: translate(-82%, 4%);
}


/* zoekbalk header */

form {
    display: flex;
    justify-content: center;
    padding: 16px 0 43.2px 0;
    width: 90%;
    margin-left: 5%;
    width:
}

.zoekbalk {
    width: 209.69px;
    height: 48px;
    font-family: sans-serif;
    padding: 15px;
    font-size: .875rem;
    border-style: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.zoek {
    background-color: #1574f5;
    color: white;
    width: 80.31px;
    height: 48px;
    border-style: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* afbeelding header */
.eten {
    background-image: url(../images/homepagefood.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
}


/* MAIN */



/* zo werkt thuisbezorgd.nl */

article h3 {
    margin: 60px 0 10px;
    font-family: avantgarde;
    font-size: 1.2rem;
    color: #0a3847;
    text-align: center;
}

/* super simpel! */

.oranjetekst {
    font-family: "avantgardebold";
    font-size: 1.6rem;
    color: #f80;
    display: flex;
    justify-content: center;
}

/* images stappen */

article img {
    width: 140px;
    display: flex;
    margin: auto;
}

/* stappen thuisbezorgd */

.stappen {
    font-family: sans-serif;
    font-size: 18px;
    color: #0a3847;
    display: flex;
    justify-content: center;
    padding: 20px;
}

article p {
    font-family: sans-serif;
    font-size: 14px;
    color: #666;
    display: flex;
    justify-content: center;
    margin: 10px 20px 20px;
}

/* opmaak unordered lists: stappen en voordelen */

article ul {
    padding: 20px;
    list-style: none;
}

/* link naar video met stappen*/

ul li a p {
    color: #1574f5;

}

/* app van thuisbezorgd */
.app {
    width: 100%;
    height: 400px;
    background-image: url(../images/app.png);
    background-size: cover;
    padding: 60px 20px;
}

.app h2 {
    text-align: left;
    font-size: 18px;
    color: white;
    background-color: #261e1e;
    margin: 10px;
    padding: 8px;
    font-family: "avantgardebold";
    width: 78%;
}

.app h2:first-child {
    width: 66%;
}

.app ul {
    margin: 0;
    padding: 0;
}

.app ul li {
    display: flex;
    margin: 10px;
}

.app ul li:first-child {
    margin-top: 20px
}


/* afbeeldingen voordelen thuisbezorgd */

.voordelen {
    background-color: #f8f5f2;
}

.voordelen h3

/* thuisbezorgd.nl */
    {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 15px;
}

.voordelen ul {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.voordelen ul > li {
    width: 80%;
    background-color: white;
}

.voordelen ul li img {
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.voordelen ul li > ul li {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.voordelen ul li > ul img {
    width: 20px;
    margin: 0 10px;
    height: 18px;
}

/* tekst voordelen thuisbezorgd */
article h4 {
    font-family: sans-serif;
    font-size: 18px;
    color: #0a3847;
    text-align: center;
}

.voordelentekst li {
    font-family: sans-serif;
    font-size: 15px;
    color: #666;
    margin: 20px;
}

.blog {
    text-align: center;
}

.blog h3 {
    font-family: "avantgarde";
    font-size: 22.4px;
    padding: 20px;

}

.blog a p {
    color: #1574f5;
    font-family: "avantgarde";
    margin: 20px 0 0 0;
}

.blog img {
    margin-top: 10px;
    margin-bottom: 60px;
    width: 300px;
    height: 181px;
}


/* FOOTER */



footer {
    background-color: #183945;
    color: white;
    padding-bottom: 53px;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons li {
    margin: 10px;
}


footer {
    text-align: center;
}

footer img {
    width: 310px;
    padding: 15px;

}

footer span {
    font-size: 16px;
    text-align: center;
    display: block;
    margin: auto;
    font-family: "avantgardebold";
    margin: 15px;
}

footer ul {
    text-align: left;
    padding: 15px;
    list-style: none;
    font-family: sans-serif;
}

footer a {
    color: white;

}

.links {
    margin-top: 0;
    padding-top: 0;
}

.links li {
    font-family: "avantgarde";
    text-align: left;
    margin: 30px;
    font-size: 12px;
}



/* Media query for tablet >768px  */
@media screen and (min-width: 768px) {
    .eten {
        height: 400px;
    }

    .blog {
        display: flex;
        flex-flow: row;
    }

    .app {
        background-size: cover;
        background-position: 40% 70%;
    }

    .app h2 {
        width: 30%;
    }

    .app h2:first-child {
        width: 25%;
    }


    /* hamburger menu*/
    .inloggen {
        width: 360px;
        font-size: 16px;
        padding: 0;
    }

    .account {
        width: 360px;
        font-size: 16px;
        padding: 0;
    }

    .hamburgerul {
        padding-top: 40px;
        color: black;
        font-family: "avantgarde";
        display: flex;
        flex-flow: column;
    }

    .hamburgerul li {
        font-size: 20px;
        margin-top: 30px;
    }

    .animator {
        transform: translate(-90%, 2%);
    }

    /*Media query for desktop <992px */
    @media only screen and (min-width: 992px) {

        header h1 {
            font-size: 72px;
            text-align: center;
            padding-left: 400px;
            padding-right: 400px;
        }

        header h2 {
            font-size: 26px;
        }

        .zoekbalk {
            width: 832px;
            height: 48px;
        }

        .zoek {
            width: 166px;
            height: 48px;
        }

        article ul {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: flex-start;
        }

        article ul li {
            width: 400px;
        }

        .app {
            height: 500px;
            background-size: 28%;
            background-color: #ff8000;
            background-image: url(../images/app.desktop.png);
            background-repeat: no-repeat;
            background-position: 70%;
            padding-left: 10%;
            background-position: bottom;
        }

        .app h2 {
            font-size: 2em;
            width: 30%;
            /* fit content */
        }

        .app h2:first-child {
            width: 25%;
        }

        .app ul {
            display: block;
        }

        .voordelen > ul {
            flex-flow: row;
        }

        .voordelen > ul > li {
            width: 25%;
            margin: 0 2% 2%;
            height: 425px;
        }

        .voordelentekst {
            flex-flow: column;
        }

        .blog h3,
        .blog p {
            width: 50%;
            text-align: left;
            margin-left: 20%;
            padding: 0;
        }

        .blog img {
            width: 400px;
            height: 250px;
            margin-top: 60px;
        }

        .icons {
            justify-content: space-around;
        }
    }




    /* OPMAAK DETAILPAGINA */



    /* HEADER */


    .detailpagina header {
        width: 100%;
    }

    .detailpagina nav {
        padding: 16px;
        margin: 0;
    }

    .detailpagina li {
        list-style: none;
    }

    .detailpagina li img {
        width: 28px;
        height: 28px;
    }

    .detailpagina nav li a img {
        height: 15px;
        width: 15px;
        margin: 0;
        padding: 0;
    }

    .detailpagina nav h2 {
        width: 180px;
        height: 25px;
        font-size: 16px;
        color: white;
        background-color: #FF8000;
        font-family: "avantgardebold";
        text-decoration: underline;
        text-decoration-color: white;
    }

    .detailpagina nav ul {
        align-items: center;
    }


    .detailpagina .hamburger {
        padding: 0;
        margin: 8px;
        margin-top: 10px;
    }

    .detailpagina .inloggen {
        width: 162px;
        margin: 5px;

    }

    .detailpagina .account {
        width: 162px;
        margin: 5px;
    }

    .detailpagina .toolbar {
        display: flex;
        z-index: 10;
        width: 100%;
        background-color: white;
        position: fixed;
        bottom: 0;
        height: 53px;
    }

    .detailpagina .toolbar ul {
        display: flex;
        justify-content: center;
        margin: auto;
        list-style-type: none;
    }

    .detailpagina .toolbar ul li {
        padding: 0 18%;
    }

    .detailpagina .toolbar ul li:first-child img {
        padding: 0;
    }

    .detailpagina .toolbar ul li img {
        text-align: center;
        margin-top: 12px;
        width: 15px;
        height: 16px;
    }

    .detailpagina .toolbar ul li:first-child img {
        text-align: center;
        margin-top: 5px;
        width: 90px;
        height: 30px;
    }

    /* Media query for tablet >768px  */
    @media screen and (min-width: 768px) {}

    /*Media query for desktop <992px */
    @media only screen and (min-width: 992px) {}




    /* MAIN */


    .detailpagina main {
        width: 100%;
        max-width: 100vw;
    }

    .detailpagina main img {
        width: 100%;
    }

    .detailpagina h1 {
        padding: 60px 20px;
        font-size: 25px;
        background-image: url(../images/pizza.png);
        background-size: cover;
        background-position: center;
        color: white;
    }

    .detailpagina h3 {
        font-family: "avantgardebold";
        color: #0a3847;
        padding: 10px;
    }

    .typeoffood {
        background: #f8f5f2;
        overflow-x: scroll;
        padding: 12.px;
        display: flex;
        flex-direction: row;
    }

    .typeoffood article {
        min-width: fit-content;
        height: auto;
        margin: 0.5em;
        padding: 12px;
        border-radius: 4em;
        background: #f8f5f2;
        font-family: "robotoslab", "avantgarde";
    }

    .detailpagina article:hover {
        background: #FF8000;
        color: white;
    }


    .result {
        background-color: #fff;
        display: flex;
        flex-direction: row;
        margin: 10px;
        justify-content: center;
    }

    .result div:first-child {
        width: 110px;
        height: auto;
    }

    .result div:first-child img {
        width: 110px;
        height: 120px;
    }

    .result div:nth-child(2) img {
        width: 20px;
        height: 18px;
    }

    .result div:nth-child(2) span {
        display: flex;
        flex-wrap: wrap;
    }

    .result div:nth-child(2) span p {
        font-size: 14px;
    }

    .result div:nth-child(2) {
        padding: 4px;
        width: 65%;
        height: auto;
    }

    .result div {
        border: 1px solid lightgray;
        border-radius: 3px;
    }

    .result h2 {
        text-align: left;
        font-size: 18px;
        font-family: "avantgardebold";
        color: #0a3847;
    }

    .result div p {
        margin: 2px;
        font-family: "robotoslab", "avantgarde";
        font-size: 13px;
        color: #666666;
    }


    /* FOOTER */

    .detailpagina footer {
        padding: 35px 42px 60px 42px;
    }

    .detailpagina footer li {
        padding: 0;
        margin: 30px 0;
        font-size: 14px;
        text-align: center;
    }

    .detailpagina footer li:hover {
        text-decoration: underline;
        text-decoration-color: white;
    }


    /* Media query for extra responsive > 410px  */
    @media screen and (min-width: 410px) {

        .result div:first-child {
            width: 138px;
            height: auto;
        }

        .result div:first-child img {
            width: 130px;
            height: 140px;
        }

        .result div:nth-child(2) {
            padding: 4px;
            width: 80%;
            height: auto;
        }

        .result div span {
            padding-top: 60px;
        }

        .detailpagina .toolbar ul li {
            padding: 0 30%;
        }

    }


    /* Media query for extra responsive > 590px  */
    @media screen and (min-width: 590px) {

        .detailpagina .toolbar ul li {
            padding: 0 50%;
        }
    }

    /* Media query for tablet >768px  */
    @media screen and (min-width: 768px) {

        .detailpagina h1 {
            font-size: 30px;
            padding: 70px;
        }

        .detailpagina h3 {
            padding-left: 15px;
        }

        .detailpagina .toolbar ul li {
            padding: 0 70%;
        }

        .detailpagina footer {
            padding-top: 20px;
            padding-bottom: 53px;
        }

        .detailpagina footer ul {
            list-style-type: none;
            overflow: hidden;
        }

        .detailpagina footer li {
            float: left;
            font-size: 14px;
        }

        .detailpagina footer li a {
            text-align: center;
            padding: 0 16px;
            text-decoration: none;
        }


        /*Media query for desktop <992px */
        @media only screen and (min-width: 992px) {}
